

  <%= form_for @user do |f| %>

<table>
  <tbody>
  <tr>
    <td><%= f.label :firstname, "First Name:" %></td>
    <td><%= f.text_field :firstname ,size: 30 %></td>
  </tr>
  <tr>
    <td><%= f.label :lastname, "Last Name:" %></td>
    <td><%= f.text_field :lastname ,size: 30 %></td>
  </tr>
  <tr>
    <td><%= f.label :email_address, "Email Address:" %></td>
    <td><%= f.text_field :email_address ,size: 30 %></td>
  </tr>
  <tr>
  <td><%= f.label :password,  "Password:"%></td>
  <td><%= f.text_field :password ,size: 30 %></td>
  </tr>

</tbody>
</table>

  <%= f.submit class:"submit_button action_button" %>

  <% end %>



